// === GOOGLE FONTS ===

@mixin google-font($font) {
  $font: unquote($font);
  @import url(https://fonts.googleapis.com/css?family=#{$font});
}

// === MEDIA BREAKPOINTS ===

@mixin extra-small-screens() {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin small-screens() {
  @media only screen and (max-width: 576px) {
    @content;
  }
}

@mixin medium-screens() {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin medium-large-screens() {
  @media only screen and (max-width: 820px) {
    @content;
  }
}

@mixin large-screens() {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin extra-large-screens() {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

// === CONTACT ===
@mixin contact() {
  color: #555555;
  font-weight: 400;
}

@mixin contact-icon {
  font-size: 14px;
  padding-right: 15px;
}

@mixin contact-title {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

@mixin contact-content {
  padding-left: 25px;
  font-family: "Roboto Slab";
  font-size: 12px;
  line-height: 20px;
}
