.brands {
  $self: &;
  margin-top: 100px;
  padding-top: 100px;
  background-color: #f8f8f8;

  &__logo-container {
    margin: 0 auto 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    flex-wrap: wrap;
    @include medium-large-screens {
      justify-content: center;
    }

    #{ $self }__logo {
      padding: 10px;
      transition: 0.3s;
      &:hover {
        transform: scale(1.2);
      }

      @include extra-small-screens {
        padding: 10px;
        max-width: 33%;
        flex: 0 0 33%;
      }
    }
  }

  &__slide {
    max-width: 765px;
    margin: 0 auto;
    padding-bottom: 100px;

    .slide__content {
      color: #555555;
      font-family: "Roboto Slab";
      font-size: 18px;
      font-weight: 400;
      font-style: italic;
      line-height: 30px;
      .slide__desc {
        font-size: 17px;
      }

      .slide__postscript {
        margin-top: 30px;
        margin-bottom: 40px;
        font-size: 20px;
      }
    }
  }
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  top: -100px;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #c0301c;
}
