#sticky {
  //position: sticky;
  top: 30px;
}

.header {
  $self: &;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  background: transparent;
  text-transform: capitalize;
  &__logo {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    transition: all 0.3s;
    padding-left: 40px;
  }

  &__menu {
    padding-top: 5px;
    padding-right: 40px;
    @include medium-large-screens {
      padding-right: 0;
      padding-top: 50px;
      height: 0;
      overflow: hidden;
    }
    #{ $self }__item {
      margin-right: 25px;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.35px;
      transition: all 0.3s;
      .header__link {
        color: #ffffff;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: 0.7;
      }

      @include medium-large-screens {
        display: block;
        text-align: center;
        margin: 5px 30px;

        &:last-child {
          margin-right: 25px;
        }
      }
    }

    &.open {
      height: auto;
      animation: openMenu 0.3s forwards;
      z-index: 100;
      @include medium-large-screens {
        background: rgba(0, 0, 0, 0.5);
      }
    }

    .menu-wrapper {
      position: absolute;
      right: 45px;
      display: none;
      margin-top: -35px;
      margin-bottom: 10px;
      width: $bar-width;
      height: $bar-height + $bar-spacing * 2;
      cursor: pointer;
      @include medium-large-screens {
        display: inline-block;
      }

      .hamburger-menu,
      .hamburger-menu::after,
      .hamburger-menu::before {
        width: $bar-width;
        height: $bar-height;
      }

      .hamburger-menu {
        position: relative;
        transform: translateY($bar-spacing);
        background: rgba(255, 255, 255, 1);
        transition: all 0ms 300ms;

        &.animate {
          background: rgba(255, 255, 255, 0);
        }
      }

      .hamburger-menu::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: $bar-spacing;
        background: rgba(255, 255, 255, 1);
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      .hamburger-menu::after {
        content: "";
        position: absolute;
        left: 0;
        top: $bar-spacing;
        background: rgba(255, 255, 255, 1);
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      .hamburger-menu.animate::after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      .hamburger-menu.animate::before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }

  @keyframes openMenu {
    from {
      margin-right: -100%;
    }
    to {
      margin-right: 0;
    }
  }
}
